rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      // Allow a user to read their own document
      allow get: if request.auth != null && request.auth.uid == userId;

      // Allow any authenticated user to query the users collection (needed for referral code check)
      allow list: if request.auth != null;

      // Allow a user to write to their own document
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    match /users/{userId}/{collection}/{documentId} {
      allow read, write, delete: if request.auth != null && request.auth.uid == userId;
    }
  }
}
